# Dependencies
node_modules/

# Build output
vscode-extension/dist/
vscode-extension/out/
vscode-extension/*.vsix
language-server/out/
jetbrains-plugin/build/
jetbrains-plugin/.gradle/

# VS extension build output
vs-extension/bin/
vs-extension/obj/
vs-extension/LanguageServer/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
